/* 		Обнуление		 */
*{padding: 0; margin: 0; border: 0;}
*, *:before, *:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus, :active{outline: none;}
a:active,a:focus{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height: 100%; width: 100%; font-size: 100%; line-height: 1; font-size: 14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family: inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: inherit;}
/* 		Обнуление 		*/


body{
	font-family: Nunito;
}

.container{
	margin: 0 146px;
}


.header{
	background-color: #EDF7FA;
}
.container-header{
	margin: 0 60px;
}
.menu{
	display: flex;
	justify-content: flex-end;
	padding: 32px 0;
}

.menu__item-1{
	font-weight: 500;
	font-size: 32px;
	color: #000;
	padding: 8px 40px;
	transition-duration: 0.3s;
}
.menu__item-2{
	font-weight: 500;
	font-size: 32px;
	color: #0772A1;
	padding: 8px 40px;
	transition-duration: 0.3s;
}

.menu__item-1:hover{
	color: #3BA3D0; 
}

.menu__item-2:hover{
	color: #3BA3D0; 
}



.title{}
.title__row{
	display: flex;
	justify-content: space-between;
}
.title__music{
	font-weight: 700;
	font-size: 44px;
	color: #21243D;
	margin: 40px 0 0 0;
}
.title__button{
	margin: 40px 0 0 0;
}


.button{
	display: inline;
	background-color: #0772A1;
	box-shadow: 4px 4px 	#3BA3D0;
	font-weight: 500;
	font-size: 28px;
	line-height: 40px;
	padding: 9px 14px;
	color: #fff;
	border-radius: 2px;
	top: 0;
	left: 0;
	position: relative;
	transition-duration: 0.1s, 0.1s, 0.1s;
	transition-property: top, left, box-shadow;
}

.button:hover{
	top: 2px;
	left: 2px;
	box-shadow: 2px 3px 	#3BA3D0;
}


.list{
	margin: 30px 0;
}
.list__row{}
.list__item{
	padding: 30px 0;
}

.item{}
.item__name{
	font-weight: 900;
	font-size: 30px;
	color: #21243D;
	display: flex;
	justify-content: center;
}

.item__row{
	display: flex;
	margin: 20px 0;
}
.item__img{}
.img{
	max-width: 260px;
	max-height: 200px;
	border-radius: 15px;
	margin: 30px 50px 30px 0;
	border: 3px solid #0772A1;

}
.item__body{
	margin-left:  20px;
}


.item__for{
	font-weight: 700;
	font-size: 22px;
	color: #0772A1;
	padding-bottom: 10px;
	border-bottom: 2px solid #0772A1;
	display: flex;
	justify-content: center;
}
.item__list{
	padding-top: 10px;
}
.item__music{
	font-weight: 600;
	font-size: 18px;
	color: #21243D;
	margin: 9px 0;

	background: url(img/li.svg) left no-repeat;
	padding: 0 0 0 30px;
}

.telegram{
	display: flex;
	justify-content: center;
}
.telegram__button{}












.footer{
	padding: 58px 0 54px 0;
	margin-top: 50px;
	background-color: #EDF7FA;
}
.footer__logos{
	text-align: center;
	padding: 0 30px;


}
.logos{
}

.logos__item{ 
	margin: 0 17.5px;;
}
.footer__text{
	text-align: center;
	font-weight: 400;
	font-size: 15px;
	color: #21243D;
	padding: 20px 0;
}
