/* Обнуление */
*{padding: 0; margin: 0; border: 0;}
*, *:before, *:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus, :active{outline: none;}
a:active,a:focus{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height: 100%; width: 100%; font-size: 100%; line-height: 1; font-size: 14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family: inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: inherit;}
/*-----------------------*/

body{
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
}
img{
	max-width: 100%;
}

.container{
	max-width: 930px;
	padding: 0 15px;
	margin: 0 auto;
}
.header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 24px 0;
}
.header-container{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.link{
	display: inline-block;
	text-indent: 2px;
	border-bottom: 1px solid currentColor;
	font-size: 16px;
	font-weight: 700;
	color: #d4d6d4;
	transition: color 0.3s ease-in-out;
}
.link:hover{
	color: #FFD723;
}

.burger{
	--offset-horizontal: 11px;
	--offset-vertical: 14px;
	position: relative;
	border-radius: 100%;
	padding: var(--offset-vertical) var(--offset-horizontal);
	width: 40px;
	height: 40px;
	background-color: #fff;
}
.burger-line{
	position: absolute;
	left: 50%;
	top: var(--offset-vertical);
	display: inline-block;
	width: calc(100% - (var(--offset-horizontal) * 2));
	height: 2px;
	background-color: #000;
	transform: translateX(-50%);
}
.burger-line:nth-child(2){
	top: calc(var(--offset-vertical) + 6px );
}
.burger-line:nth-child(3){
	top: calc(var(--offset-vertical) + 13px );
}


.hero{
	background-image: url(img/background.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 189px;
	padding-bottom: 210px;
}
.hero-content{
	max-width: 616px;
}
.hero-subtitle{
	display: inline-block;
	font-size: 14px;
	font-weight: 400;
	color: #fff;
	padding-top: 100px;
}
.hero-titile{
	margin-bottom: 24px;
	font-size: 60px;
	font-weight: 700;
	color: #fff;
}
.hero-descr{
	margin-bottom: 45px;
	font-size: 16px;
	font-weight: 400;
	color: #fff;
}
.hero-link{
	color: #FFD723;
}







.services{
	padding-top: 150px;
}
.site-title{
	font-size: 36px;
	font-weight: 700;
	color: #4D533C;
}
.services-title{
	max-width: 607px;
	margin-bottom: 60px;
}
.services-list{
	display: grid;
	gap: 30px;
	grid-template-columns: repeat(4, 1fr);
}
.services-item{
	display: flex;
	align-items: flex-start;
	flex-direction: column;
}
.services-subtitle{
	max-width: 183px;
	margin-bottom: 20px;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 500;
	color: #4D533C;
}
.services-descr{
	max-width: 194px;
	margin-bottom: 56px;
	font-size: 14px;
	font-weight: 500;
	color: #21384299;
}
.services-link{
	margin-top: auto;
}


.get-started{
	position: relative;
	top: 160px;
	padding: 70px 0 70px 164px;
	background-color: #fafafa;
	width: 88%;
	box-shadow: 50px 130px 100px rgba(0,0,0,0.2459);
}
.get-started-title{
	margin-bottom: 50px;
	max-width: 822px;
	font-size: 60px;
	font-weight: 700;
	color: #4D533C;
}
.get-started-link{
	text-transform: uppercase;
}








.footer{
	color: #fff;
	padding-top: 300px;
	background-image: url(img/footer.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.footer-top{
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 52px;
	border-bottom: 1px solid #5d6544;
}
.footer-contacts-item{}
.footer-contacts-item:not(:last-child){
	margin-right: 128px;
}
.footer-contacts-text{
	display: block;
	margin-bottom: 28px;
	font-size: 16px;
	font-weight: 400;
	color: #B6C197;
}
.footer-contacts-link{
	display: inline-block;
	margin-bottom: 28px;
	font-size: 16px;
	font-weight: 700;
	color: #fff;
}
.footer-contacts-value{
	display: inline-block;
	margin-bottom: 28px;
	font-size: 16px;
	font-weight: 700;
	color: #fff;
}

.footer-middle{
	padding-top: 60px;
}
.container-middle{
	display: grid;
	gap: 40px;
	grid-template-columns: repeat(4, 1fr);
}
.footer-column{
	padding-bottom: 80px;
}
.footer-title{
	margin-bottom: 21px;
	font-size: 16px;
	font-weight: 600;
	color: #fff;
}
.footer-list{}
.footer-item{}
.footer-link{
	display: inline-block;
	margin-bottom: 20px;
	font-size: 16px;
	font-weight: 400;
	color: #B6C197;
}
.footer-text{
	max-width: 270px;
	margin-bottom: 23px;
	font-size: 16px;
	font-weight: 400;
	color: #B6C197;
}
.footer-mail{
	display: inline-block;
	font-size: 24px;
	font-weight: 700;
	color: #fff;
	padding-bottom: 28px;
}
.social{
	display: flex;
}
.social-item{
	background-color: #444A34;
	border-radius: 100%;
	padding: 9px;
	box-shadow: 1px 1px 10px #000;
	transition: background-color 0.3s
}
.social-item:hover{
	background-color: #FFD723;
}
.social-item:not(:last-child){
	margin-right: 20px;
}
.social-link{}
.social-logo{
	max-width: 24px;
	max-height: 24px;
}
.social-link-fb{}
.social-link-tw{}
.social-link-g{}
.social-link-in{}

.footer-bottom{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 32px 0;
	border-top: 1px solid #5d6544;
}
.logo{
	max-width: 200px;
}
.copyright{
	padding-right: 32px;
}


@media (max-width: 992px;){
	.services-list{
		gap: 30px;
		grid-template-columns: repeat(2, 1fr);
	}

	.container-middle{
		gap: 40px;
		grid-template-columns: repeat(2, 1fr);
	}

	.services-subtitle{
		max-width: none;
	}

	.services-descr{
		max-width: none;
	}
}
@media (max-width: 768px;){
	.get-started-title{
		font-size: 55px;
	}
}

@media (max-width: 576px;){
	.get-started-title{
		font-size: 42px;
	}

	.hero-title{
		font-size: 50px;
	}

	.services{
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.footer-bottom{
		flex-direction: column;
	}

	.services-list{
		gap: 30px;
		grid-template-columns: repeat(1, 1fr);
	}

	.container-middle{
		gap: 40px;
		grid-template-columns: repeat(1, 1fr);
	}


}

@media (max-width: 375px;){
	.footer-mail{
		font-size: 20px;
	}

	.logo{
		width: 65%;
	}

	.hero-title{
		font-size: 45px;
	}
}